/* Google Fonts (Montserrat and Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Montserrat Font */
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Poppins Font */
.poppins {
  font-family: 'Poppins', sans-serif;
}

/* ********** General Styles ********** */
.white-bg {
  background-color: #e5e7eb;
}

.dark-bg {
  background-color: #06090f;
}

.light-dark-bg {
  background-color: #161b22;
}

/* ********** NAVBAR ********** */
.nav-bg {
  background-color: #161b22;
  border-bottom: 2px solid #8b0000;
}

/* ********** SHOWCASE ********** */
#showcase {
  background-color: #06090f;
  min-height: 600px;
}

/* ********** GİDERLER ********** */
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 5px;
}

.small-img {
  width: 177px;
  height: 100px;
}

.shop-item-image {
  width: 354px;
  height: 200px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

/* ********** SEPET ********** */

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-image {
  width: 177px;
  height: 100px;
  border-radius: 10px;
  margin-right: 1rem;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
